.destination {
    background-image: url(../../public/background-destination-desktop.jpg);
}

.destination-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 4rem;
    align-items: center;
    gap: 15%;
    animation: fadeIn 1s;
    transition: 1s;
}

#show-image {
    height: 70dvh;
}

.select-container {
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    flex-direction: column;
}

.destination-select {
    display: flex;
    gap: 1rem;
    
}

.destination-select button {
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-weight: lighter;
    font-size: 3dvh;
}

.destination-select button:hover {
    transform: scale(1.1);
    border-bottom: 1px solid aliceblue;
}

.select-container h2 {
    font-size: 5dvh;
}

#description {
    font-weight: lighter;
    font-size: 3dvh;
}

.destination-travel-info {
    border-top: 1px solid rgba(240, 248, 255, 0.5);
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.destination-travel-info p {
    margin-bottom: 0.5rem;
    font-size: 2dvh;
    font-weight: 200;
}

.distance,
.duration {
    text-align: center;
}

.destination-travel-info span {
    font-size: 2rem;
}