.technology {
    background-image: url('../../public/background-technology-desktop.jpg');
}

.technology-container {
    display: flex;
    padding: 0 4rem;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s;
    transition: 1s;
    position: absolute;
    bottom: 0;
}

.selec-technology {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-btn {
    border: none;
    background-color: transparent;
    color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px aliceblue;
    cursor: pointer;
}

.technology-description {
    max-width: 50%;
    margin-right: 10%;
    margin-left: 2rem;
}

.technology-description h3 {
    font-weight: lighter;
}

.technology-description h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.technology-description p {
    line-height: 160%;
    font-weight: 300;
    font-size: 1.2rem;
}

#technology-img {
    max-height: 70vh;
    border-radius: 1rem 1rem 0 0;
}